# Dependências
/backend/node_modules
/frontend/node_modules

# Arquivos de ambiente (NUNCA envie para o GitHub)
/backend/.env
/frontend/.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

/frontend/.expo